<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ htmlWebpackPlugin.options.title }}</title>
</head>
<body>
    <div class="parralax">
        <div class="content">
            <h1>Webpack template starter</h1>
            <p>This template starter includes</p>
            <ul>
                <li>Sass compiler</li>
                <li>Handlebars compiler</li>
                <li>Html compiler</li>
                <li>ES6 Compiler</li>
                <li>Auto moving other files</li>
            </ul>
        </div>
    </div>
</body>
</html>