html,
body {
  padding: 0;
  margin: 0;
}

.parralax-ml {
  .hero {
    overflow: hidden;
    position: relative;

    .layer {
      background-repeat: no-repeat;
      background-size: auto;
      width: 100%;
      position: fixed;
      z-index: -1;
    }
  }

  .content {
    background: #FFF;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
  }
}
